
@{
    ViewBag.Title = "Contact";
}

<h2>I am Contact page</h2>


@{
    ViewBag.Message = "Contact our customer representative.";
}

@{
    ViewBag.name = "Contact Details";
    ViewBag.items = new List<string> { "Marketing","Developer","Sales" };
    Html.RenderPartial("ListPartialView");
}

@section SideBarOptions {

    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact Marketing Team</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact Technical Team</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact Support Team</a>
}